    html,
    body,
    div,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    abbr,
    address,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    samp,
    small,
    strong,
    sub,
    sup,
    var,
    b,
    i,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    
    body {
        line-height: 1;
    }
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    nav ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    a {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    /* change colours to suit your needs */
    
    ins {
        background-color: #ff9;
        color: #000;
        text-decoration: none;
    }
    /* change colours to suit your needs */
    
    mark {
        background-color: #ff9;
        color: #000;
        font-style: italic;
        font-weight: bold;
    }
    
    del {
        text-decoration: line-through;
    }
    
    abbr[title],
    dfn[title] {
        border-bottom: 1px dotted;
        cursor: help;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* change border colour to suit your needs */
    
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #cccccc;
        margin: 1em 0;
        padding: 0;
    }
    
    input,
    select {
        vertical-align: middle;
    }
    
    .main-wrapper {
        background-color: #fff;
        margin: 0 auto;
        width: 1000px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    
    .item-wrapper {
        background-color: #fff;
        margin: 0 auto;
        width: 900px;
        padding: 50px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    
    .form-wrapper {
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        /* margin: 10 auto; */
        width: 500px;
        padding: 10px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    
    .float-wrapper {
        float: left;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        /* margin: 10 auto; */
        width: 500px;
        padding: 10px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    
    .tabel-wrapper {
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
        /*margin: 30 auto;*/
        width: 600px;
        padding: 10px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    
    a {
        text-decoration: none;
    }
    
    body {
        background-color: #f2f2f2;
    }
    
    .evidenzia {
        font-family: arial;
        font-size: 50px;
        color: #31AADF;
        text-align: center;
        margin: 30px;
    }
    
    .intestazione {
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: #31AADF;
    }
    
    .main-container {
        padding-top: 40px;
    }
    
    .main-container h2 {
        font-family: arial;
        font-size: 40px;
        color: #111;
        line-height: 50px;
        text-align: center;
    }
    /*Registrazione*/
    
    .signup-form {
        width: 400px;
        margin: 0 auto;
        padding-top: 0px;
        background: #FFFFFF;
        align-items: center;
    }
    
    .signup-form input {
        width: 100%;
        height: 40px;
        padding: 0px 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        border: none;
        background-color: #f3f3f3;
        font-family: arial;
        font-size: 16px;
        color: #111;
        line-height: 40px;
    }
    
    .signup-form button {
        left: 50%;
        display: block;
        width: 100%;
        height: 40px;
        border: none;
        background-color: #31AADF;
        font-family: arial;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 30px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    
    .signup-form button:hover {
        background-color: #31AADF;
    }
    
    .buttonVerd {
        left: 50%;
        display: block;
        width: 100%;
        height: 40px;
        border: none;
        background-color: #31AADF;
        font-family: arial;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 30px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    /*-----------------------------
Smartphone
-----------------------------*/
    
    @media (max-width: 767px) {
        .form-wrapper {
            width: 400px
        }
        .tabel-wrapper {
            width: 400px
        }
        .signup-form {
            width: auto;
        }
    }
    /* clearfix */
    
    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
    
    * html .clearfix {
        zoom: 1;
    }
    /* IE6 */
    
    *:first-child+html .clearfix {
        zoom: 1;
    }
    /* IE7 */
    
    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    #centrato {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }
    
    .scrollable {
        height: 100px;
        /* or any value */
        overflow-y: auto;
    }